<settings>

    <profiles>
        <profile>
            <id>aspose</id>
            <repositories>
                <repository>
                    <id>aspose-repo</id>
                    <name>Aspose Repo</name>
                    <url>https://artifact.aspose.com/repo/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
